<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title> User Information App </title>

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css'></link>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js'></script>

    <link href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet'></link>

    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono|Staatliches" rel="stylesheet"></link>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script type="text/javascript" src="./public/jquery.js"></script>
    
    <link rel='stylesheet' href='/static/css/style.css' type='text/css'></link>
</head>


<body>
    <nav>
    <div class="container">
      <div class="nav-wrapper"> user information app
        <ul class="right hide-on-med-and-down" id="nav-mobile">
          <li><a href="/"><i class="large material-icons left">home</i>home</a></li>
          <li><a href="users"><i class="large material-icons left">account_box</i>users</a></li>
          <li><a href="adduser"><i class="large material-icons left">add</i>add</a></li>
          <li><a href="search"><i class="large material-icons left">search</i>search</a></li>
        </ul>
      </div>
    </div>
  </nav>