<%- include('header'); -%>
    <br>
    <br>
    <div class="indexcontent">Welcome to the User Information App!
           <br> Use the navigation bar to search or add a user or display a list of all users.
    </div>
    
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</html>

<%- include('footer'); -%>