<%- include('header'); -%>
    <br>
    <br>
    <br>
    <br>
    <div class="indexcontent">Welcome to the User Information App!
           <br> Use the navigation bar to search or add a user or display a list of all users.
    </div>


    
</body>

</html>

<%- include('footer'); -%>