<%- include('header'); -%>

  <br>
    <div class="userscontent"> 
      <b>Here are all the users found:</b>
  
      <ul>
        <% users.forEach((user) => { %>
        <li>
          <%= `${user.firstname} ${user.lastname}` %>
        </li>
        <% }) %>
      </ul>


<%- include('footer'); -%>